In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('c:/2nd_project/Data/movie_data/원본/xlsx 파일 2003~2022년/(완)[KOBIS] 박스오피스_일별(2003~2022)_장르_수정.csv')
df

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482747,34,애프터 양,2022-06-01,전체관람가,"드라마,SF",미국,미국,NaN,"(주)영화특별시에스엠씨,주식회사 왓챠",코고나다,콜린 파렐,2022-12-31,629910,389758300,90,40233,1,1
482748,31,더 메뉴,2022-12-07,15세이상관람가,스릴러,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,마크 미로드,"랄프 파인즈,안야 테일러 조이,니콜라스 홀트,자넷 맥티어,주디스 라이트,존 레귀자모",2022-12-31,1047000,320680200,107,31360,3,3
482749,28,양자경의 더 모든 날 모든 순간,2022-11-23,15세이상관람가,"액션,코미디",미국,미국,NaN,워터홀컴퍼니(주),"다니엘 콴,다니엘 쉐이너트","양자경,스테파니 수,키 호이 콴,제이미 리 커티스",2022-12-31,2703789,291016371,276,27325,7,8
482750,26,캐리와 슈퍼콜라,2023-01-18,전체관람가,애니메이션,한국,한국,(주)캐리소프트,롯데컬처웍스(주)롯데엔터테인먼트,"오성윤,이춘백","최정윤,엄상현,이다은,원옥화,정주원,이창민,한상태,김지정,강나후,김신비,소경호",2022-12-31,3993000,3993000,295,295,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

In [4]:
df.isnull().sum()

순위            0
영화명           0
개봉일           0
등급         6734
장르            0
대표국적         38
국적           38
제작사      269504
배급사       17714
감독        13145
배우        35727
기준일           0
매출액           0
누적매출액         0
관객수           0
누적관객수         0
스크린수          0
상영횟수          0
dtype: int64

# 컬럼 공백 제거

In [5]:
old_col_name = ['순위', '영화명', '개봉일', '등급 ', '장르 ', '대표국적 ', 
                '국적 ', '제작사 ', '배급사 ','감독 ', '배우 ','기준일',
                '매출액','누적매출액 ','관객수 ','누적관객수 ','스크린수 ', 
                '상영횟수 ']
new_col_name = ['순위', '영화명', '개봉일', '등급', '장르', '대표국적', 
                '국적', '제작사', '배급사','감독', '배우','기준일',
                '매출액','누적매출액','관객수','누적관객수','스크린수', 
                '상영횟수']

In [6]:
# new_col_list = ['영화명', '개봉일', '등급', '장르', '대표국적', '국적', '제작사', '배급사', '감독', '배우']

In [7]:
df_copy = df.copy()
df_copy

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482747,34,애프터 양,2022-06-01,전체관람가,"드라마,SF",미국,미국,NaN,"(주)영화특별시에스엠씨,주식회사 왓챠",코고나다,콜린 파렐,2022-12-31,629910,389758300,90,40233,1,1
482748,31,더 메뉴,2022-12-07,15세이상관람가,스릴러,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,마크 미로드,"랄프 파인즈,안야 테일러 조이,니콜라스 홀트,자넷 맥티어,주디스 라이트,존 레귀자모",2022-12-31,1047000,320680200,107,31360,3,3
482749,28,양자경의 더 모든 날 모든 순간,2022-11-23,15세이상관람가,"액션,코미디",미국,미국,NaN,워터홀컴퍼니(주),"다니엘 콴,다니엘 쉐이너트","양자경,스테파니 수,키 호이 콴,제이미 리 커티스",2022-12-31,2703789,291016371,276,27325,7,8
482750,26,캐리와 슈퍼콜라,2023-01-18,전체관람가,애니메이션,한국,한국,(주)캐리소프트,롯데컬처웍스(주)롯데엔터테인먼트,"오성윤,이춘백","최정윤,엄상현,이다은,원옥화,정주원,이창민,한상태,김지정,강나후,김신비,소경호",2022-12-31,3993000,3993000,295,295,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

In [9]:
# df_copy = df[old_col_name].copy()
# df_copy

In [10]:
df_copy.columns = new_col_name
df_copy

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482747,34,애프터 양,2022-06-01,전체관람가,"드라마,SF",미국,미국,NaN,"(주)영화특별시에스엠씨,주식회사 왓챠",코고나다,콜린 파렐,2022-12-31,629910,389758300,90,40233,1,1
482748,31,더 메뉴,2022-12-07,15세이상관람가,스릴러,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,마크 미로드,"랄프 파인즈,안야 테일러 조이,니콜라스 홀트,자넷 맥티어,주디스 라이트,존 레귀자모",2022-12-31,1047000,320680200,107,31360,3,3
482749,28,양자경의 더 모든 날 모든 순간,2022-11-23,15세이상관람가,"액션,코미디",미국,미국,NaN,워터홀컴퍼니(주),"다니엘 콴,다니엘 쉐이너트","양자경,스테파니 수,키 호이 콴,제이미 리 커티스",2022-12-31,2703789,291016371,276,27325,7,8
482750,26,캐리와 슈퍼콜라,2023-01-18,전체관람가,애니메이션,한국,한국,(주)캐리소프트,롯데컬처웍스(주)롯데엔터테인먼트,"오성윤,이춘백","최정윤,엄상현,이다은,원옥화,정주원,이창민,한상태,김지정,강나후,김신비,소경호",2022-12-31,3993000,3993000,295,295,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

In [11]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 482752 entries, 0 to 482751
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   순위      482752 non-null  int64
 1   영화명     482752 non-null  object
 2   개봉일     482752 non-null  object
 3   등급      476018 non-null  object
 4   장르      482752 non-null  object
 5   대표국적    482714 non-null  object
 6   국적      482714 non-null  object
 7   제작사     213248 non-null  object
 8   배급사     465038 non-null  object
 9   감독      469607 non-null  object
 10  배우      447025 non-null  object
 11  기준일     482752 non-null  object
 12  매출액     482752 non-null  int64
 13  누적매출액   482752 non-null  int64
 14  관객수     482752 non-null  int64
 15  누적관객수   482752 non-null  int64
 16  스크린수    482752 non-null  int64
 17  상영횟수    482752 non-null  int64
dtypes: int64(7), object(11)
memory usage: 66.3+ MB

# 개봉일 결측인 행 제거

In [12]:
df_copy = df_copy[df_copy['개봉일'].isnull() == False]
df_copy

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482747,34,애프터 양,2022-06-01,전체관람가,"드라마,SF",미국,미국,NaN,"(주)영화특별시에스엠씨,주식회사 왓챠",코고나다,콜린 파렐,2022-12-31,629910,389758300,90,40233,1,1
482748,31,더 메뉴,2022-12-07,15세이상관람가,스릴러,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,마크 미로드,"랄프 파인즈,안야 테일러 조이,니콜라스 홀트,자넷 맥티어,주디스 라이트,존 레귀자모",2022-12-31,1047000,320680200,107,31360,3,3
482749,28,양자경의 더 모든 날 모든 순간,2022-11-23,15세이상관람가,"액션,코미디",미국,미국,NaN,워터홀컴퍼니(주),"다니엘 콴,다니엘 쉐이너트","양자경,스테파니 수,키 호이 콴,제이미 리 커티스",2022-12-31,2703789,291016371,276,27325,7,8
482750,26,캐리와 슈퍼콜라,2023-01-18,전체관람가,애니메이션,한국,한국,(주)캐리소프트,롯데컬처웍스(주)롯데엔터테인먼트,"오성윤,이춘백","최정윤,엄상현,이다은,원옥화,정주원,이창민,한상태,김지정,강나후,김신비,소경호",2022-12-31,3993000,3993000,295,295,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

# 기준일 기준 오름차순 정렬

In [13]:
df_copy = df_copy.sort_values(by=['기준일'])
df_copy

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482687,100,더 게임,2022-12-08,15세이상관람가,"드라마,스릴러",헝가리,헝가리,NaN,알토미디어(주),페테르 퍼자카스,가브리엘라 하모리,2022-12-31,0,4423699,0,538,1,1
482686,100,성덕,2022-09-28,12세이상관람가,다큐멘터리,한국,한국,해랑사,오드,오세연,오세연,2022-12-31,0,109161892,0,12565,1,1
482685,100,나나,2022-12-15,15세이상관람가,드라마,인도네시아,인도네시아,NaN,M&M 인터내셔널,NaN,NaN,2022-12-31,0,8896499,0,1026,1,1
482683,87,초선,2022-11-03,12세이상관람가,다큐멘터리,한국,한국,"디아스포라 필름,포핸즈스토리",커넥트픽쳐스(주),전후석,NaN,2022-12-31,8000,33585796,1,4118,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

In [14]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 482752 entries, 0 to 482751
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   순위      482752 non-null  int64
 1   영화명     482752 non-null  object
 2   개봉일     482752 non-null  object
 3   등급      476018 non-null  object
 4   장르      482752 non-null  object
 5   대표국적    482714 non-null  object
 6   국적      482714 non-null  object
 7   제작사     213248 non-null  object
 8   배급사     465038 non-null  object
 9   감독      469607 non-null  object
 10  배우      447025 non-null  object
 11  기준일     482752 non-null  object
 12  매출액     482752 non-null  int64
 13  누적매출액   482752 non-null  int64
 14  관객수     482752 non-null  int64
 15  누적관객수   482752 non-null  int64
 16  스크린수    482752 non-null  int64
 17  상영횟수    482752 non-null  int64
dtypes: int64(7), object(11)
memory usage: 70.0+ MB

# 장르 : 성인물, 공연 제거

In [15]:
df_copy = df_copy[(df_copy["장르"].str.contains("성인물",na=True)==False)&
                     (df_copy["장르"].str.contains("공연",na=True)==False)]
df_copy.shape

(482752, 18)

In [16]:
df_copy

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482687,100,더 게임,2022-12-08,15세이상관람가,"드라마,스릴러",헝가리,헝가리,NaN,알토미디어(주),페테르 퍼자카스,가브리엘라 하모리,2022-12-31,0,4423699,0,538,1,1
482686,100,성덕,2022-09-28,12세이상관람가,다큐멘터리,한국,한국,해랑사,오드,오세연,오세연,2022-12-31,0,109161892,0,12565,1,1
482685,100,나나,2022-12-15,15세이상관람가,드라마,인도네시아,인도네시아,NaN,M&M 인터내셔널,NaN,NaN,2022-12-31,0,8896499,0,1026,1,1
482683,87,초선,2022-11-03,12세이상관람가,다큐멘터리,한국,한국,"디아스포라 필름,포핸즈스토리",커넥트픽쳐스(주),전후석,NaN,2022-12-31,8000,33585796,1,4118,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

In [17]:
df_copy.to_csv('c:/2nd_project/Data/movie_data/2003~2022_merge_mid.csv', index = None)

# 중복 영화명 제거

In [18]:
movie_df = pd.read_csv('c:/2nd_project/Data/movie_data/2003~2022_merge_mid.csv')
movie_df

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482747,100,더 게임,2022-12-08,15세이상관람가,"드라마,스릴러",헝가리,헝가리,NaN,알토미디어(주),페테르 퍼자카스,가브리엘라 하모리,2022-12-31,0,4423699,0,538,1,1
482748,100,성덕,2022-09-28,12세이상관람가,다큐멘터리,한국,한국,해랑사,오드,오세연,오세연,2022-12-31,0,109161892,0,12565,1,1
482749,100,나나,2022-12-15,15세이상관람가,드라마,인도네시아,인도네시아,NaN,M&M 인터내셔널,NaN,NaN,2022-12-31,0,8896499,0,1026,1,1
482750,87,초선,2022-11-03,12세이상관람가,다큐멘터리,한국,한국,"디아스포라 필름,포핸즈스토리",커넥트픽쳐스(주),전후석,NaN,2022-12-31,8000,33585796,1,4118,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

In [19]:
len(movie_df['영화명'].unique())

17768

In [20]:
movie_df[movie_df['영화명'] == '드림']

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 등급, 장르, 대표국적, 국적, 제작사, 배급사, 감독, 배우, 기준일, 매출액, 누적매출액, 관객수, 누적관객수, 스크린수, 상영횟수]
Index: []

In [21]:
movie_df.columns

Index(['순위', '영화명', '개봉일', '등급', '장르', '대표국적', '국적', '제작사', '배급사', '감독', '배우',
       '기준일', '매출액', '누적매출액', '관객수', '누적관객수', '스크린수', '상영횟수'],
      dtype='object')

In [22]:
movie_df = movie_df.groupby(['영화명', '개봉일']).agg({
    '등급' : 'first',
    '장르' : 'first',
    '대표국적' : 'first',
    '국적' : 'first',
    '제작사' : 'first',
    '배급사' : 'first',
    '감독' : 'first',
    '배우' : 'first',
    '누적관객수' : 'max'
}).reset_index()

movie_df

,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,누적관객수
0,#살아있다,2020-06-24,15세이상관람가,드라마,한국,한국,"영화사 집,(주)퍼스펙티브픽쳐스",롯데컬처웍스(주)롯데엔터테인먼트,조일형,"유아인,박신혜,전배수,고나영,권용채,김경태,김다영,김단비,김라희,김미래,김미래,김윤...",1903992
1,#아이엠히어,2021-01-14,12세이상관람가,"멜로/로맨스,코미디",프랑스,프랑스,None,(주)넥스트엔터테인먼트월드(NEW),에릭 라티고,"알랭 샤바,배두나,이명자,선종남,김자금,강현중,정윤하,송경의,엄지만,남승화,이지민,...",16404
2,#위왓치유,2021-06-03,청소년관람불가,다큐멘터리,기타,기타,None,찬란,"바르보라 차르포바,비트 클루삭",None,1908
3,...ing,2003-11-28,12세관람가,"드라마,멜로/로맨스",한국,한국,드림맥스(주),(주)튜브엔터테인먼트,이언희,"임수정,김래원,이미숙,김지영,김현수,박혜연,장미,이성경,박소연,김순애,최덕문,김인문...",34308
4,0.0MHz,2019-05-29,15세이상관람가,공포(호러),한국,한국,(주)제이엠컬쳐스,(주)스마일이엔티,유선동,"정은지,이성열,최윤영,신주환,정원창,박명신,남관효,박대희,노혜영,서진석,김대현,신승...",137294
...,...,...,...,...,...,...,...,...,...,...,...
18144,"힘내세요, 병헌씨",2013-06-27,15세이상관람가,"코미디,드라마",한국,한국,None,㈜인디스토리,이병헌,"홍완표,양현민,김영현,허준석,이재광,이창한,정현정,조휘상,강호규,강호규,김수완,황인...",3980
18145,"힘을 내요, 미스터 리",2019-09-11,12세이상관람가,"코미디,드라마",한국,한국,"(주)용필름,(주)덱스터스튜디오",(주)넥스트엔터테인먼트월드(NEW),이계벽,"차승원,엄채영,박해준,김혜옥,안길강,전혜빈,류한비,조한철,성지루,김법래,정원중,신현...",1181960
18146,힙스터: 안개의 덫,2015-10-21,청소년관람불가,"멜로/로맨스,드라마",한국,한국,(주)마부엔터테인먼트,고구마콘텐츠허브(주),강명진,"유사라,김동윤,정종우,류아진,박민규,강인화",1
18147,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,None,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",23025
18148,ＡＶ여배우의 자취방,2017-05-01,청소년관람불가,멜로/로맨스,일본,일본,None,(주)도키엔터테인먼트,후지모리 에이지,None,1

In [ ]:
movie_df[movie_df['영화명'] == '드림']

In [ ]:
movie_df[movie_df['개봉일'] == '2023-08-03']

# 23년 1월 1일 ~ 23년 7월 31일 사이 개봉한 영화

In [23]:
from datetime import datetime

# '개봉일' 컬럼을 datetime 형식으로 변환
movie_df['개봉일'] = pd.to_datetime(movie_df['개봉일'])
movie_df['영화명'] = movie_df['영화명'].astype(str)

# # '개봉일'이 2023년 1월 1일부터 2023년 7월 31일 사이인 데이터만 선택
# movie_df = movie_df[(movie_df['개봉일'] >= datetime(2023, 1, 1)) & (movie_df['개봉일'] <= datetime(2023, 7, 31))]
movie_df = movie_df[(movie_df['개봉일'] <= datetime(2022, 12, 31))]
movie_df

,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,누적관객수
0,#살아있다,2020-06-24,15세이상관람가,드라마,한국,한국,"영화사 집,(주)퍼스펙티브픽쳐스",롯데컬처웍스(주)롯데엔터테인먼트,조일형,"유아인,박신혜,전배수,고나영,권용채,김경태,김다영,김단비,김라희,김미래,김미래,김윤...",1903992
1,#아이엠히어,2021-01-14,12세이상관람가,"멜로/로맨스,코미디",프랑스,프랑스,None,(주)넥스트엔터테인먼트월드(NEW),에릭 라티고,"알랭 샤바,배두나,이명자,선종남,김자금,강현중,정윤하,송경의,엄지만,남승화,이지민,...",16404
2,#위왓치유,2021-06-03,청소년관람불가,다큐멘터리,기타,기타,None,찬란,"바르보라 차르포바,비트 클루삭",None,1908
3,...ing,2003-11-28,12세관람가,"드라마,멜로/로맨스",한국,한국,드림맥스(주),(주)튜브엔터테인먼트,이언희,"임수정,김래원,이미숙,김지영,김현수,박혜연,장미,이성경,박소연,김순애,최덕문,김인문...",34308
4,0.0MHz,2019-05-29,15세이상관람가,공포(호러),한국,한국,(주)제이엠컬쳐스,(주)스마일이엔티,유선동,"정은지,이성열,최윤영,신주환,정원창,박명신,남관효,박대희,노혜영,서진석,김대현,신승...",137294
...,...,...,...,...,...,...,...,...,...,...,...
18144,"힘내세요, 병헌씨",2013-06-27,15세이상관람가,"코미디,드라마",한국,한국,None,㈜인디스토리,이병헌,"홍완표,양현민,김영현,허준석,이재광,이창한,정현정,조휘상,강호규,강호규,김수완,황인...",3980
18145,"힘을 내요, 미스터 리",2019-09-11,12세이상관람가,"코미디,드라마",한국,한국,"(주)용필름,(주)덱스터스튜디오",(주)넥스트엔터테인먼트월드(NEW),이계벽,"차승원,엄채영,박해준,김혜옥,안길강,전혜빈,류한비,조한철,성지루,김법래,정원중,신현...",1181960
18146,힙스터: 안개의 덫,2015-10-21,청소년관람불가,"멜로/로맨스,드라마",한국,한국,(주)마부엔터테인먼트,고구마콘텐츠허브(주),강명진,"유사라,김동윤,정종우,류아진,박민규,강인화",1
18147,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,None,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",23025
18148,ＡＶ여배우의 자취방,2017-05-01,청소년관람불가,멜로/로맨스,일본,일본,None,(주)도키엔터테인먼트,후지모리 에이지,None,1

# 최종 데이터

In [24]:
movie_df.to_csv('c:/2nd_project/Data/movie_data/2003~2022_movie_fix.csv', index=None)