### 텍스트 정규표현식 적용

In [1]:
import re
import pandas as pd

In [2]:
def clean_text(text):
    clean_text = re.sub(r'[^A-Za-z0-9가-힣 ]', '', text)
    # clean_text = re.sub(r'[키키|유유|히히|하하|엉엉|오오]', '', clean_text)
    return clean_text.strip()

### train 정규화

In [78]:
df_Train = pd.read_csv('c:/2nd_project/Data/talk_data/영화 주제 대화 말뭉치 묶음(Train).csv')
df_Train

                                           text
0                                  다들 기생충 보셨어요?
1                    오스카 상 후보에 올랐단 소식 듣고 바로 봤어요
2                저는 개인적으로 다크한 걸 안 좋아해서 아직 못 봤어요
3                                  음...그럴 수 있죠!
4      봉준호 감독이 차기작을 준비하고 있다고 해서 한 번 그냥 물어봤어요 하하
...                                         ...
72484                               너는 영화 예매했어?
72485             아직 안했는데 요즘은 자리 많아서 보기 전에 해도 돼
72486                         그래? 그래서 낼 몇시꺼 보게?
72487                             아마 3시꺼 볼려고 왜?
72488                       아니 그냥 키키 보고서 후기 알려줘

[72489 rows x 1 columns]

In [79]:
type(df_Train)

pandas.core.frame.DataFrame

In [80]:
df_Train = df_Train['text'].apply(str).apply(clean_text)
df_Train

0                                     다들 기생충 보셨어요
1                      오스카 상 후보에 올랐단 소식 듣고 바로 봤어요
2                  저는 개인적으로 다크한 걸 안 좋아해서 아직 못 봤어요
3                                        음그럴 수 있죠
4        봉준호 감독이 차기작을 준비하고 있다고 해서 한 번 그냥 물어봤어요 하하
                           ...
72484                                  너는 영화 예매했어
72485               아직 안했는데 요즘은 자리 많아서 보기 전에 해도 돼
72486                             그래 그래서 낼 몇시꺼 보게
72487                                아마 3시꺼 볼려고 왜
72488                         아니 그냥 키키 보고서 후기 알려줘
Name: text, Length: 72489, dtype: object

In [81]:
df_Train.iloc[30144:30147]

30144    는 2번이나 봤대 하하
30145
30146           그게 뭐야
Name: text, dtype: object

In [82]:
len(df_Train.iloc[30145])

0

In [83]:
Train_drop_list = []

In [84]:
cnt = 0
for i in range(len(df_Train)):
    if len(df_Train[i]) < 1:
        cnt += 1
        print(cnt, i, df_Train[i])
        Train_drop_list.append(i)

1 30145
2 35859
3 69257

In [85]:
cnt = 0
for i in range(len(df_Train)):
    if df_Train[i] == 'nan':
        cnt += 1
        print(cnt, i, df_Train[i])
        Train_drop_list.append(i)

1 32530 nan
2 46986 nan
3 65550 nan

In [86]:
Train_drop_list.sort()
Train_drop_list

[30145, 32530, 35859, 46986, 65550, 69257]

In [87]:
df_Train = df_Train.drop(Train_drop_list)

len(df_Train)

72483

In [88]:
df_Train.to_csv('c:/2nd_project/Data/talk_data/영화 주제 대화 말뭉치 묶음(Train_Re).csv', index=None)

### valid 정규화

In [89]:
df_Valid = pd.read_csv('c:/2nd_project/Data/talk_data/영화 주제 대화 말뭉치 묶음(Valid).csv')
df_Valid

                                    text
0                          요즘 볼만한 애니가 없어
1                      다 큰 어른이 무슨 애니를 보니
2                   그런가 애니 말고 이제 영화나 볼까?
3                        그래 애니 말고 영화나 봐ㅎ
4                     알겠어 영화관 가서 영화 봐야겠다
...                                  ...
10635                     응 맞아 그런 건 좋아해!
10636  미스터리한 것도 좋아하긴 해 너무 놀래키거나 무섭지 않으면!
10637                       넌 미스터리물 좋아해?
10638                       응응 나도 완전 좋아해
10639                   나중에 좋은 영화 추천해 줘!

[10640 rows x 1 columns]

In [90]:
df_Valid = df_Valid['text'].apply(str).apply(clean_text)
df_Valid

0                           요즘 볼만한 애니가 없어
1                       다 큰 어른이 무슨 애니를 보니
2                     그런가 애니 말고 이제 영화나 볼까
3                          그래 애니 말고 영화나 봐
4                      알겠어 영화관 가서 영화 봐야겠다
                       ...
10635                       응 맞아 그런 건 좋아해
10636    미스터리한 것도 좋아하긴 해 너무 놀래키거나 무섭지 않으면
10637                         넌 미스터리물 좋아해
10638                        응응 나도 완전 좋아해
10639                     나중에 좋은 영화 추천해 줘
Name: text, Length: 10640, dtype: object

In [91]:
Valid_drop_list = []

In [92]:
cnt = 0
for i in range(len(df_Valid)):
    if len(df_Valid[i]) < 1:
        cnt += 1
        print(cnt, i, df_Valid[i])
        Valid_drop_list.append(i)

1 6432

In [93]:
cnt = 0
for i in range(len(df_Valid)):
    if df_Valid[i] == 'nan':
        cnt += 1
        print(cnt, i, df_Valid[i])
        Valid_drop_list.append(i)

In [94]:
Valid_drop_list.sort()
Valid_drop_list

[6432]

In [95]:
df_Valid = df_Valid.drop(Valid_drop_list)

len(df_Valid)

10639

In [96]:
df_Valid.to_csv('c:/2nd_project/Data/talk_data/영화 주제 대화 말뭉치 묶음(Valid_Re).csv', index=None)